@using Sitecore.Mvc

@{
    Layout = "FormsLayout.cshtml";
}
  <div id="breadcrums" class="col-md-12">
                @Html.Sitecore().Placeholder("BreadCrums")
            </div>

@Html.Sitecore().Placeholder("formssection")


