@model RenderingModel
<div class="panel panel-default">
    <div class="panel-body">@Html.Sitecore().Field("CopyRight",Model.Item)</div>
</div>

<style>
    .panel-body{
         background-color:#808080;
         
    }
        .panel-body h4 {
            color: aliceblue
        }
</style>