@model SitecoreCookbook.Models.Museum.Sections.Sitemap.SitemapList
<div class="btn-group btn-breadcrumb">
    <a href="/" class="btn btn-default"><i class="glyphicon glyphicon-home"></i></a>
    @{
        if (Model.SiteMapItems != null)
        {
            foreach (var item in Model.SiteMapItems)
            {

                <a href="@item.Link" class="btn btn-default">@item.PageName</a>


            }
            <a href="#" class="btn btn-default">@Model.CurrentPageName</a>
        }

    }
</div>
